.map-tile {
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
  a {
    color: inherit;
    text-decoration: none;
  }
}

.map-tile__header, .map-tile__body {
  padding: 20px;
}

.map-tile__header {
  border-bottom: 2px solid;
  font-weight: bold;
  font-size: 150%;
}

.map-tile__body {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #333;
  .map-tile__body__name {
    font-size: 150%;
    margin-bottom: 10px;
    &:not(:hover):not(:active) {
      color: inherit;
    }
  }
  .map-tile__body__area {
    font-size: 125%;
    &:not(:hover):not(:active) {
      color: inherit;
    }
  }
}

.map-tile {
  &.t-0 {
    color: $town;
    a {
      color: $town;
    }
  }
  &.t-1 {
    color: $country;
    a {
      color: $country;
    }
  }
  &.t-2 {
    color: $business;
    a {
      color: $business
    }
  }
}