
.map-tile-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.map-tile-list__item {
  display: flex;
  flex: 0 0 auto;
  padding: 10px;
  width: 100%;
  transition: 1s all;
  @for $i from 2 through 5 {
    @media (min-width: (300px * $i)) {
      width: (100% / $i);
    }
  }
}