.nav {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  a {
    display: flex;
    flex: 0 0 auto;
    padding: 20px 30px;
    margin: auto 0;
    font-weight: bold;
    font-size: 125%;
    text-decoration: none;
  }
}