// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

$town: #c69;
$country: #2abc67;
$business: #2980b9;

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: #EFEFEF;
  font-family: Raleway;
}

.icon {
  width: 1em;
  height: 1em;
  fill: currentcolor;
  vertical-align: top;
}

.main {
  //margin-top: 60px;
}

@import "components/nav";
@import "components/map-tile-list";
@import "components/map-tile";
